<div class="hero-section">
  <div class="hero-section-text">
    <h1>Hatteras</h1>
    <h5></h5>
  </div>
</div>

<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <img src="https://i.pinimg.com/originals/53/09/40/530940d37761e58f5eb1efc22ab969c8.jpg" alt="" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">The best yachts in the market</h3>
    <p class="marketing-site-content-section-block-subheader subheader">We can guarantee that you'll love your new yacht!</p>
    <a href="#" class="round button small">learn more</a>
  </div>
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">It's like you never left home</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Our yachts will make you feel at peace with yourself!</p>
    <a href="#" class="round button small">learn more</a>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="https://media.iyba.pro/images/2711379_0382549d_1.jpg" alt="" />
  </div>
</div>



<p id="notice"><%= notice %></p>

<h1>Yachts</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Description</th>
      <th>Price</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yachts.each do |yacht| %>
      <tr>
        <td><%= yacht.model %></td>
        <td><%= yacht.description %></td>
        <td><%= yacht.price %></td>
        <td><%= yacht.rating %></td>
        <td><%= link_to 'Show', yacht %></td>
        <td><%= link_to 'Edit', edit_yacht_path(yacht) %></td>
        <td><%= link_to 'Destroy', yacht, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Yacht', new_yacht_path %>


<div class="three-column-footer-contact-form-container">
  <footer class="three-column-footer-contact-form" data-equalizer data-equalize-by-row="true">
    <div class="footer-left" data-equalizer-watch>
      <div class="baseline">
        <div class="contact-details">
          <h6>Contact details</h6>
          <p><i class="fa fa-phone fa-lg" aria-hidden="true"></i> Hatteras Yachts Inc</p>
          <p><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact us</a></p>
          <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> 110 N Glenburnie Rd, New Bern, NC 28560</p>
        </div>
        <div class="newsletter">
          <div class="input-group">
            <h6>Sign up for our newsletter</h6>
            <input class="input-group-field" type="email" placeholder="Email address">
          </div>
          <a class="button expanded" href="#">Submit</a>
        </div>
      </div>
     </div>
    <div class="footer-center" data-equalizer-watch>
      <div class="baseline">
        <div class="newsletter">
          <h6>Contact form</h6>
          <div class="input-group">
            <input class="input-group-field" type="text" placeholder="Name">
            <input class="input-group-field" type="email" placeholder="Email address">
            <textarea placeholder="Message"></textarea>
          </div>
          <a class="button expanded" href="#">Submit</a>
        </div>
      </div>
    </div>
    <div class="footer-right" data-equalizer-watch>
      <div class="baseline">
        <img class="thumbnail" src="http://placehold.it/100">
        <h6>Opening times</h6>
        <p>Mon - Fri 9:00am - 5:00pm</p>
        <p>Sat 9:00am - 8:00pm</p>
        <p>Sun 9:00am - 4:00pm</p>
        <p>(252) 633-3101</p>
        <div class="social">
          <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
          <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </footer>
</div>
